.github/**
.vscode/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
webpack.config.js
templates
*.log
out/**
*.vsix
debug.log
package-lock.json
global.d.ts
*.tsbuildinfo
coverage/**
.nyc_output/**
.cache/**
tmp/**
temp/**
.DS_Store
Thumbs.db
dist/**/*.map

